# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.python-version

# -------------------------
# Node / Frontend
# -------------------------
node_modules/
dist/
build/
coverage/
.npm/
*.tsbuildinfo

# -------------------------
# Java
# -------------------------
*.class
out/
target/
.gradle/
build/

# -------------------------
# C / C++ / Fortran
# -------------------------
*.o
*.obj
*.exe
*.out
*.mod
*.a
*.so
*.dll
*.lib

# -------------------------
# Editors / IDEs
# -------------------------
.vscode/
.idea/

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Logs and temp
# -------------------------
*.log
*.tmp
*.temp
